<% layout('layouts/boilerplate.ejs') %>
    <script>
        navLink = document.getElementById('libraries-link')
        navLink.classList.add('active')
    </script>

    <div class=" col-md-10 offset-md-1">
        <h1>All libraries</h1>
        <div id="map" class="mb-4" style="width: 100%; height: 300px"></div>
        <% for (let l of libraries){ %>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="<%=l.image%>">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text libraryName">
                                <%= l.name %>
                            </p>
                            <div class="libraryCoordinate" hidden>
                                <%= l.location.coordinates %>
                            </div>
                            <div class="libraryId" hidden>
                                <%= l._id %>
                            </div>
                            <a class="btn btn-primary" href="/libraries/<%=l._id%>">View this library
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
    </div>
    <script>
        mapboxgl.accessToken = '<%- process.env.MAPBOX_TOKEN %>';
    </script>
    <script src="/libraryIndexMap.js"></script>