<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library details</title>
</head>

<body>
    <h1>
        <%= library.name %>
    </h1>
    <main>
        <p>location: <%= library.location %>
        </p>
        <h2>study spots</h2>
        <ul>
            <% for( let s of library.studySpots) { %>
                <li>
                    <img src="../<%= s.image %> " alt="" height=200px width=200px>
                    <a href="/studySpots/<%= s._id %>/">
                        <%= s.description %>
                    </a>

                </li>
                <% } %>
        </ul>
    </main>
    <a href="/libraries">Back to all libraries</a>
</body>

</html>