<% layout('layouts/boilerplate.ejs') %>
    <div class="col-md-10 offset-md-1">
        <h1>
            <%= library.name %>
        </h1>

        <p>location: <%= library.location %>
        </p>
        <h2>study spots</h2>
        <!-- <ul>
            <% for( let s of library.studySpots) { %>
                <li>
                    <img src="../<%= s.image %> " alt="" height=200px width=200px>
                    <a href="/studySpots/<%= s._id %>/">
                        <%= s.description %>
                    </a>

                </li>
                <% } %>
        </ul> -->

        <% for (let s of library.studySpots){ %>
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="../../<%=s.image%>">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">
                                <%= s.description %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    found in <%= library.name %>
                                </small>
                            </p>
                            <a class="btn btn-primary" href="/studySpots/<%=s._id%>">Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
                <div class="mt-2 mb-3"> <a class="btn btn-primary" href="/libraries">Back to all libraries</a>
                    <a class="btn btn-primary" href="/studySpots">See all study spots on campus</a>
                </div>

    </div>