<% layout('layouts/boilerplate.ejs') %>
    <div class="col-10 offset-1">
        <h1>Study Spot details</h1>

        <div class="card mb-3">
            <img src="../../../<%= studySpot.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    Study spot by [username?]
                </h5>
                <p class="card-text">
                    <%= studySpot.description%>
                </p>
            </div>
            <ul class="list-group list-group-flush">

                <li class="list-group-item text-muted">view <a href="/libraries/<%= studySpot.library._id %>">
                        <%= studySpot.library.name %>
                    </a>
                </li>

            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/studySpots/<%=studySpot._id%>/edit">Edit</a>
                <form class="d-inline" action="/studySpots/<%=studySpot._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>

        </div>
    </div>