<% layout('layouts/boilerplate.ejs') %>
    <link rel="stylesheet" href="/stars.css">

    <div class="col-lg-8 offset-lg-2">
        <h1>Study Spot details</h1>
        <div class="card mb-3">
            <img src="../../../<%= studySpot.image%>" class="card-img-top img-fluid rounded" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <%= studySpot.description%>

                </h5>
                <p class="card-text">
                    Submitted by <%= studySpot.username %>
                </p>

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <!-- when averageRating is NaN, it is not equal to even itself, so we check by: -->
                    <%= averageRating==="NaN" ? "-no vatings available-" : `${averageRating}/5.0 rating`%>
                        </a>
                </li>
                <li class="list-group-item text-muted">found in <a href="/libraries/<%= studySpot.library._id %>">
                        <%= studySpot.library.name %>
                    </a>
                </li>
                <% if (currentUser && studySpot.username===currentUser.username) { %>
                    <li class="list-group-item">
                        <!-- edit button -->
                        <a class="card-link btn btn-info" href="/studySpots/<%=studySpot._id%>/edit">Edit</a>
                        <!-- delete button -->
                        <form class="d-inline" action="/studySpots/<%=studySpot._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </li>
                    <% } %>
            </ul>
        </div>

        <!-- study spot rating -->
        <div class="card mb-3">
            <!-- check if rated before -->
            <% if (!studySpot.ratings.some(element=> element.user === currentUser.username)) { %>
                <!-- only for first time raters -->
                <!-- rate studySpot -->
                <div class="card-body">
                    <form action="/studySpots/<%= studySpot._id %>/rate?_method=PATCH" method="POST">
                        <fieldset class="starability-basic">
                            <input type="radio" id="no-rate" class="input-no-rate" name="studySpot[rating]" value="0"
                                checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="studySpot[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="studySpot[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="studySpot[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="studySpot[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="studySpot[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>

                        <button class="btn btn-primary">Submit rating</button>
                    </form>
                </div>

                <% } %>

                    <!-- ratings list -->
                    <% for( let rating of studySpot.ratings ) { %>
                        <% if (rating.user===currentUser.username) { %>
                            <div class="card-body">
                                <!-- edit-form that displays existing rating score -->
                                <form class="edit-form d-inline-block"
                                    action="/studySpots/<%= studySpot._id %>/rate/<%= rating._id %>?_method=PATCH"
                                    method="POST">
                                    <fieldset class="starability-basic edit-stars" style="display: none;">
                                        <input type="radio" id="no-rate" class="input-no-rate" name="studySpot[rating]"
                                            value="0" aria-label="No rating." />
                                        <input type="radio" id="first-rate1" name="studySpot[rating]" value="1"
                                            <%=rating.score===1 ? "checked" : "" %>/>
                                        <label for="first-rate1" title="Terrible">1 star</label>
                                        <input type="radio" id="first-rate2" name="studySpot[rating]" value="2"
                                            <%=rating.score===2 ? "checked" : "" %>/>
                                        <label for="first-rate2" title="Not good">2 stars</label>
                                        <input type="radio" id="first-rate3" name="studySpot[rating]" value="3"
                                            <%=rating.score===3 ? " checked" : "" %>/>
                                        <label for="first-rate3" title="Average">3 stars</label>
                                        <input type="radio" id="first-rate4" name="studySpot[rating]" value="4"
                                            <%=rating.score===4 ? " checked" : "" %>/>
                                        <label for="first-rate4" title="Very good">4 stars</label>
                                        <input type="radio" id="first-rate5" name="studySpot[rating]" value="5"
                                            <%=rating.score===5 ? " checked" : "" %>/>
                                        <label for="first-rate5" title="Amazing">5 stars</label>
                                    </fieldset>
                                    <p class="starability-result view-stars" data-rating="<%= rating.score %>">
                                        Rated: <%= rating.score %> stars
                                    </p>
                                    <!-- <input type="range" class="edit-range" value="<%= rating.score %>"
                                        name="studySpot[rating]" min="1" max="5" step="1" disabled> -->
                                    <button type="button" class="edit-button btn btn-info">Edit</button>
                                </form>

                                <!-- delete existing rating -->
                                <form class="d-inline-block"
                                    action="/studySpots/<%= studySpot._id %>/rate/<%= rating._id %>?_method=DELETE"
                                    method="POST">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                            <% } %>
                                <% } %>
        </div>
    </div>

    <script>
        const editButtons = document.querySelectorAll('.edit-button');
        const viewStars = document.querySelectorAll('.view-stars')
        const editStars = document.querySelectorAll('.edit-stars')
        for (let button of editButtons) {
            button.onclick = () => {
                let newButton = document.createElement('button')
                newButton.className = 'btn btn-primary mx-1'
                newButton.innerText = 'confirm'
                button.insertAdjacentElement('beforebegin', newButton)
                button.remove()
                // O(n^2) but I don't know any other way... 
                for (let star of viewStars) {
                    star.style.display = "none"
                }
                for (let star of editStars) {
                    star.style.display = "block"
                }
            }
        }
    </script>